## Clean Energy Transition Dashboard

***

This notebook contains a python script related to the creation of the Clean Energy Transition Tracker dashboard. You can check the final product via [this link](https://public.tableau.com/app/profile/nur.adhyaksa.hamid/viz/TransitionProgressionTracker/Dashboard1).

The data preparation for this dashboard will be divided into five parts:

|No.|Section|Description|
|:---|:---|:---|
|1|**Total Capacity Calculation**|Calculation of total generating capacity for each country in each year|
|2|**Capacity Share Calculation**|Calculation of capacity share for each source type (clean/fossil)|
|3|**Capacity Difference**|Calculation of capacity difference between fossil and clean generation, each country in each year|
|4|**Renewable Energy Share Difference**|Calculation of renewable energy difference prior previous year for each country|
|5|**Capacity Growth Ranking (Adjusted)**|Ranking each country in each year based on how much they have built clean generations. There is an exception where capacity increases due to reduced demand will be excluded and will be assumed to have the same value as the previous year (rank without negative growth)|

These data frames from each section will then be appended into one data frame, ready to be compiled into a dashboard.

In [1]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None  # default='warn'

### Master Data

In [2]:
source = pd.read_csv(r'C:\Users\Nur Adhyaksa Hamid\Dropbox\My PC (LAPTOP-PF5V2EGV)\Downloads\temp\project-exposing-energy\yearly_full_release_long_format.csv')

year_included = [2015, 2016, 2017, 2018, 2019, 2020, 2021]
master = (source[source['Year'].isin(year_included)])

area = ['Country']
master = (master[master['Area type'].isin(area)])

category_included = ['Capacity',
                    'Electricity demand',
                    'Power sector emissions'
                    ]
master = (master[master['Category'].isin(category_included)])

variable_included = ['Clean', 'Fossil', 
                     'Bioenergy', 'Coal', 'Gas', 'Hydro', 'Nuclear', 'Other Fossil', 'Other Renewables', 'Solar', 'Wind',
                    'Demand',
                     'CO2 intensity',
                     'Total emissions'
                    ]
master = (master[master['Variable'].isin(variable_included)])

master.drop(['Area type', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'YoY absolute change', 'YoY % change'], axis=1, inplace=True)

In [3]:
master

,Area,Country code,Year,Continent,Category,Subcategory,Variable,Unit,Value
990,Afghanistan,AFG,2015,Asia,Capacity,Aggregate fuel,Clean,GW,0.30
991,Afghanistan,AFG,2015,Asia,Capacity,Aggregate fuel,Fossil,GW,0.24
996,Afghanistan,AFG,2015,Asia,Capacity,Fuel,Bioenergy,GW,NaN
997,Afghanistan,AFG,2015,Asia,Capacity,Fuel,Coal,GW,NaN
998,Afghanistan,AFG,2015,Asia,Capacity,Fuel,Gas,GW,NaN
...,...,...,...,...,...,...,...,...,...
323525,Zimbabwe,ZWE,2021,Africa,Power sector emissions,Fuel,Other Fossil,mtCO2,0.03
323526,Zimbabwe,ZWE,2021,Africa,Power sector emissions,Fuel,Other Renewables,mtCO2,0.00
323527,Zimbabwe,ZWE,2021,Africa,Power sector emissions,Fuel,Solar,mtCO2,0.00
323528,Zimbabwe,ZWE,2021,Africa,Power sector emissions,Fuel,Wind,mtCO2,0.00
323529,Zimbabwe,ZWE,2021,Africa,Power sector emissions,Total,Total emissions,mtCO2,3.10

### Total Capacity Calculation

In [4]:
year_included = [2015, 2016, 2017, 2018, 2019, 2020, 2021]
total = (source[source['Year'].isin(year_included)])

area = ['Country']
total = (total[total['Area type'].isin(area)])

category_included = ['Capacity']

total = (total[total['Category'].isin(category_included)])

variable_included = ['Clean', 'Fossil']

total = (total[total['Variable'].isin(variable_included)])

total.drop(['Area type', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'YoY absolute change', 'YoY % change'], axis=1, inplace=True)

In [5]:
df_sum = total.groupby(['Area', 'Country code', 'Year', 'Continent', 'Category', 'Subcategory'], as_index=False)['Value'].sum().assign(Variable='Total Capacity')

In [6]:
df_sum['Unit'] = 'GW'

In [7]:
df_sum

,Area,Country code,Year,Continent,Category,Subcategory,Value,Variable,Unit
0,Afghanistan,AFG,2015,Asia,Capacity,Aggregate fuel,0.54,Total Capacity,GW
1,Afghanistan,AFG,2016,Asia,Capacity,Aggregate fuel,0.59,Total Capacity,GW
2,Afghanistan,AFG,2017,Asia,Capacity,Aggregate fuel,0.59,Total Capacity,GW
3,Afghanistan,AFG,2018,Asia,Capacity,Aggregate fuel,0.59,Total Capacity,GW
4,Afghanistan,AFG,2019,Asia,Capacity,Aggregate fuel,0.64,Total Capacity,GW
...,...,...,...,...,...,...,...,...,...
1497,Zimbabwe,ZWE,2017,Africa,Capacity,Aggregate fuel,1.85,Total Capacity,GW
1498,Zimbabwe,ZWE,2018,Africa,Capacity,Aggregate fuel,2.15,Total Capacity,GW
1499,Zimbabwe,ZWE,2019,Africa,Capacity,Aggregate fuel,2.16,Total Capacity,GW
1500,Zimbabwe,ZWE,2020,Africa,Capacity,Aggregate fuel,2.16,Total Capacity,GW
1501,Zimbabwe,ZWE,2021,Africa,Capacity,Aggregate fuel,2.17,Total Capacity,GW

### Capacity Share

In [8]:
year_included = [2015, 2016, 2017, 2018, 2019, 2020, 2021]
share = (source[source['Year'].isin(year_included)])

area = ['Country']
share = (share[share['Area type'].isin(area)])

category_included = ['Capacity']
share = (share[share['Category'].isin(category_included)])

subcategory_included = ['Aggregate fuel']
share = (share[share['Subcategory'].isin(subcategory_included)])

variable_included = ['Clean','Fossil']
share = (share[share['Variable'].isin(variable_included)])

share.drop(['Area type', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'YoY absolute change', 'YoY % change'], axis=1, inplace=True)

In [9]:
share['Value'] = 100 * share['Value'] / share.groupby(['Area', 'Country code', 'Year', 'Continent', 'Category', 'Subcategory'])['Value'].transform('sum')

In [10]:
share['Unit'] = '%'

In [11]:
share

,Area,Country code,Year,Continent,Category,Subcategory,Variable,Unit,Value
990,Afghanistan,AFG,2015,Asia,Capacity,Aggregate fuel,Clean,%,55.555556
991,Afghanistan,AFG,2015,Asia,Capacity,Aggregate fuel,Fossil,%,44.444444
1056,Afghanistan,AFG,2016,Asia,Capacity,Aggregate fuel,Clean,%,59.322034
1057,Afghanistan,AFG,2016,Asia,Capacity,Aggregate fuel,Fossil,%,40.677966
1122,Afghanistan,AFG,2017,Asia,Capacity,Aggregate fuel,Clean,%,59.322034
...,...,...,...,...,...,...,...,...,...
323333,Zimbabwe,ZWE,2019,Africa,Capacity,Aggregate fuel,Fossil,%,44.444444
323398,Zimbabwe,ZWE,2020,Africa,Capacity,Aggregate fuel,Clean,%,55.555556
323399,Zimbabwe,ZWE,2020,Africa,Capacity,Aggregate fuel,Fossil,%,44.444444
323464,Zimbabwe,ZWE,2021,Africa,Capacity,Aggregate fuel,Clean,%,55.760369
323465,Zimbabwe,ZWE,2021,Africa,Capacity,Aggregate fuel,Fossil,%,44.239631

### Capacity Difference

In [12]:
year_included = [2015, 2016, 2017, 2018, 2019, 2020, 2021]
cap_diff = (source[source['Year'].isin(year_included)])

area = ['Country']
cap_diff = (cap_diff[cap_diff['Area type'].isin(area)])

category_included = ['Capacity']
cap_diff = (cap_diff[cap_diff['Category'].isin(category_included)])

subcategory_included = ['Fuel']
cap_diff = (cap_diff[cap_diff['Subcategory'].isin(subcategory_included)])

unit_included = ['GW']
cap_diff = (cap_diff[cap_diff['Unit'].isin(unit_included)])

cap_diff.drop(['Area type', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'YoY absolute change', 'YoY % change'], axis=1, inplace=True)

In [13]:
cap_diff

,Area,Country code,Year,Continent,Category,Subcategory,Variable,Unit,Value
996,Afghanistan,AFG,2015,Asia,Capacity,Fuel,Bioenergy,GW,NaN
997,Afghanistan,AFG,2015,Asia,Capacity,Fuel,Coal,GW,NaN
998,Afghanistan,AFG,2015,Asia,Capacity,Fuel,Gas,GW,NaN
999,Afghanistan,AFG,2015,Asia,Capacity,Fuel,Hydro,GW,0.28
1000,Afghanistan,AFG,2015,Asia,Capacity,Fuel,Nuclear,GW,NaN
...,...,...,...,...,...,...,...,...,...
323474,Zimbabwe,ZWE,2021,Africa,Capacity,Fuel,Nuclear,GW,NaN
323475,Zimbabwe,ZWE,2021,Africa,Capacity,Fuel,Other Fossil,GW,0.01
323476,Zimbabwe,ZWE,2021,Africa,Capacity,Fuel,Other Renewables,GW,NaN
323477,Zimbabwe,ZWE,2021,Africa,Capacity,Fuel,Solar,GW,0.03
323478,Zimbabwe,ZWE,2021,Africa,Capacity,Fuel,Wind,GW,NaN

In [14]:
cap_diff = cap_diff.sort_values(['Variable', 'Area', 'Year'], ascending=[True, True, True])

In [15]:
cap_diff['Value_%_diff'] = cap_diff['Value'] - cap_diff.groupby(['Area', 'Variable'])['Value'].transform('first')

In [16]:
cap_diff

,Area,Country code,Year,Continent,Category,Subcategory,Variable,Unit,Value,Value_%_diff
996,Afghanistan,AFG,2015,Asia,Capacity,Fuel,Bioenergy,GW,NaN,NaN
1062,Afghanistan,AFG,2016,Asia,Capacity,Fuel,Bioenergy,GW,NaN,NaN
1128,Afghanistan,AFG,2017,Asia,Capacity,Fuel,Bioenergy,GW,NaN,NaN
1194,Afghanistan,AFG,2018,Asia,Capacity,Fuel,Bioenergy,GW,NaN,NaN
1260,Afghanistan,AFG,2019,Asia,Capacity,Fuel,Bioenergy,GW,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
323214,Zimbabwe,ZWE,2017,Africa,Capacity,Fuel,Wind,GW,NaN,NaN
323280,Zimbabwe,ZWE,2018,Africa,Capacity,Fuel,Wind,GW,NaN,NaN
323346,Zimbabwe,ZWE,2019,Africa,Capacity,Fuel,Wind,GW,NaN,NaN
323412,Zimbabwe,ZWE,2020,Africa,Capacity,Fuel,Wind,GW,NaN,NaN
323478,Zimbabwe,ZWE,2021,Africa,Capacity,Fuel,Wind,GW,NaN,NaN

In [17]:
cap_diff.drop(['Value'], axis=1, inplace=True)
cap_diff.rename(columns={'Value_%_diff': 'Value'}, inplace=True)
cap_diff['Unit'] = 'GW'
cap_diff['Subcategory'] = 'Difference'

In [18]:
cap_diff

,Area,Country code,Year,Continent,Category,Subcategory,Variable,Unit,Value
996,Afghanistan,AFG,2015,Asia,Capacity,Difference,Bioenergy,GW,NaN
1062,Afghanistan,AFG,2016,Asia,Capacity,Difference,Bioenergy,GW,NaN
1128,Afghanistan,AFG,2017,Asia,Capacity,Difference,Bioenergy,GW,NaN
1194,Afghanistan,AFG,2018,Asia,Capacity,Difference,Bioenergy,GW,NaN
1260,Afghanistan,AFG,2019,Asia,Capacity,Difference,Bioenergy,GW,NaN
...,...,...,...,...,...,...,...,...,...
323214,Zimbabwe,ZWE,2017,Africa,Capacity,Difference,Wind,GW,NaN
323280,Zimbabwe,ZWE,2018,Africa,Capacity,Difference,Wind,GW,NaN
323346,Zimbabwe,ZWE,2019,Africa,Capacity,Difference,Wind,GW,NaN
323412,Zimbabwe,ZWE,2020,Africa,Capacity,Difference,Wind,GW,NaN
323478,Zimbabwe,ZWE,2021,Africa,Capacity,Difference,Wind,GW,NaN

### Clean Energy Share Difference

In [19]:
year_included = [2015, 2016, 2017, 2018, 2019, 2020, 2021]
diff = (source[source['Year'].isin(year_included)])

area = ['Country']
diff = (diff[diff['Area type'].isin(area)])

category_included = ['Capacity']
diff = (diff[diff['Category'].isin(category_included)])

subcategory_included = ['Aggregate fuel']
diff = (diff[diff['Subcategory'].isin(subcategory_included)])

variable_included = ['Fossil']
fossil_only = (diff[diff['Variable'].isin(variable_included)])

fossil_only.drop(['Area type', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'YoY absolute change', 'YoY % change'], axis=1, inplace=True)

In [20]:
fossil_only = fossil_only.sort_values(['Variable', 'Area', 'Year'], ascending=[True, True, True])

In [21]:
fossil_only['Value'] = fossil_only.groupby(['Area','Variable'])['Value'].cummax()

In [22]:
variable_included = ['Clean']
clean_only = (diff[diff['Variable'].isin(variable_included)])

clean_only.drop(['Area type', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'YoY absolute change', 'YoY % change'], axis=1, inplace=True)

In [23]:
all_plant = pd.concat([fossil_only, clean_only])

In [24]:
clean_only['Value_%'] = 100 * clean_only['Value'] / all_plant.groupby(['Area', 'Country code', 'Year', 'Continent', 'Category', 'Subcategory'])['Value'].transform('sum')

In [25]:
clean_only['Value_%_diff'] = clean_only['Value_%'] - clean_only.groupby(['Area', 'Variable'])['Value_%'].transform('first')

In [26]:
clean_only.replace([np.inf, -np.inf, np.nan], 0, inplace=True)

In [27]:
clean_only.drop(['Value_%', 'Value'], axis=1, inplace=True)
clean_only.rename(columns={'Value_%_diff': 'Value'}, inplace=True)
clean_only['Unit'] = '%'
clean_only['Variable'] = 'Renewable difference'

In [28]:
clean_only

,Area,Country code,Year,Continent,Category,Subcategory,Variable,Unit,Value
990,Afghanistan,AFG,2015,Asia,Capacity,Aggregate fuel,Renewable difference,%,0.000000
1056,Afghanistan,AFG,2016,Asia,Capacity,Aggregate fuel,Renewable difference,%,3.766478
1122,Afghanistan,AFG,2017,Asia,Capacity,Aggregate fuel,Renewable difference,%,3.766478
1188,Afghanistan,AFG,2018,Asia,Capacity,Aggregate fuel,Renewable difference,%,3.766478
1254,Afghanistan,AFG,2019,Asia,Capacity,Aggregate fuel,Renewable difference,%,0.694444
...,...,...,...,...,...,...,...,...,...
323200,Zimbabwe,ZWE,2017,Africa,Capacity,Aggregate fuel,Renewable difference,%,0.567125
323266,Zimbabwe,ZWE,2018,Africa,Capacity,Aggregate fuel,Renewable difference,%,7.807854
323332,Zimbabwe,ZWE,2019,Africa,Capacity,Aggregate fuel,Renewable difference,%,8.014572
323398,Zimbabwe,ZWE,2020,Africa,Capacity,Aggregate fuel,Renewable difference,%,8.014572
323464,Zimbabwe,ZWE,2021,Africa,Capacity,Aggregate fuel,Renewable difference,%,8.219385

### Capacity Growth Ranking (Adjusted)

In [29]:
year_included = [2015, 2016, 2017, 2018, 2019, 2020, 2021]
rank = (source[source['Year'].isin(year_included)])

area = ['Country']
rank = (rank[rank['Area type'].isin(area)])

category_included = ['Capacity']
rank = (rank[rank['Category'].isin(category_included)])

subcategory_included = ['Aggregate fuel']
rank = (rank[rank['Subcategory'].isin(subcategory_included)])

variable_included = ['Fossil']
fossil = (rank[rank['Variable'].isin(variable_included)])

fossil.drop(['Area type', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'YoY absolute change', 'YoY % change'], axis=1, inplace=True)

In [30]:
fossil = fossil.sort_values(['Variable', 'Area', 'Year'], ascending=[True, True, True])

In [31]:
fossil['Value'] = fossil.groupby(['Area','Variable'])['Value'].cummax()

In [32]:
fossil.shape[0]

1502

In [33]:
#rank['Diff'] = rank['Value'] - rank.groupby(['Area', 'Variable'])['Value'].transform('first')
#baseline = rank.groupby(['Area','Variable'])['Value'].transform('first')
#rank.loc[rank['Value'] < baseline, 'Value'] = baseline

In [34]:
variable_included = ['Clean']
clean = (rank[rank['Variable'].isin(variable_included)])

clean.drop(['Area type', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'YoY absolute change', 'YoY % change'], axis=1, inplace=True)

In [35]:
clean.shape[0]

1502

In [36]:
clean_fossil = pd.concat([fossil, clean])

In [37]:
clean_fossil

,Area,Country code,Year,Continent,Category,Subcategory,Variable,Unit,Value
991,Afghanistan,AFG,2015,Asia,Capacity,Aggregate fuel,Fossil,GW,0.24
1057,Afghanistan,AFG,2016,Asia,Capacity,Aggregate fuel,Fossil,GW,0.24
1123,Afghanistan,AFG,2017,Asia,Capacity,Aggregate fuel,Fossil,GW,0.24
1189,Afghanistan,AFG,2018,Asia,Capacity,Aggregate fuel,Fossil,GW,0.24
1255,Afghanistan,AFG,2019,Asia,Capacity,Aggregate fuel,Fossil,GW,0.28
...,...,...,...,...,...,...,...,...,...
323200,Zimbabwe,ZWE,2017,Africa,Capacity,Aggregate fuel,Clean,GW,0.89
323266,Zimbabwe,ZWE,2018,Africa,Capacity,Aggregate fuel,Clean,GW,1.19
323332,Zimbabwe,ZWE,2019,Africa,Capacity,Aggregate fuel,Clean,GW,1.20
323398,Zimbabwe,ZWE,2020,Africa,Capacity,Aggregate fuel,Clean,GW,1.20
323464,Zimbabwe,ZWE,2021,Africa,Capacity,Aggregate fuel,Clean,GW,1.21

In [38]:
clean_fossil['Value_%'] = clean_fossil['Value'] / clean_fossil.groupby(['Area', 'Country code', 'Year', 'Continent', 'Category', 'Subcategory'])['Value'].transform('sum')

In [39]:
clean_fossil['Value_%_diff'] = clean_fossil['Value_%'] - clean_fossil.groupby(['Area', 'Variable'])['Value_%'].transform('first')

In [40]:
clean_fossil.replace([np.inf, -np.inf, np.nan], 0, inplace=True)

In [41]:
clean_fossil['Rank'] = (clean_fossil.groupby(['Year','Variable'])['Value_%_diff']
                      .rank(method='dense', ascending=False)
                      .astype(int))

In [42]:
clean_fossil

,Area,Country code,Year,Continent,Category,Subcategory,Variable,Unit,Value,Value_%,Value_%_diff,Rank
991,Afghanistan,AFG,2015,Asia,Capacity,Aggregate fuel,Fossil,GW,0.24,0.444444,0.000000,1
1057,Afghanistan,AFG,2016,Asia,Capacity,Aggregate fuel,Fossil,GW,0.24,0.406780,-0.037665,121
1123,Afghanistan,AFG,2017,Asia,Capacity,Aggregate fuel,Fossil,GW,0.24,0.406780,-0.037665,127
1189,Afghanistan,AFG,2018,Asia,Capacity,Aggregate fuel,Fossil,GW,0.24,0.406780,-0.037665,120
1255,Afghanistan,AFG,2019,Asia,Capacity,Aggregate fuel,Fossil,GW,0.28,0.437500,-0.006944,71
...,...,...,...,...,...,...,...,...,...,...,...,...
323200,Zimbabwe,ZWE,2017,Africa,Capacity,Aggregate fuel,Clean,GW,0.89,0.481081,0.005671,88
323266,Zimbabwe,ZWE,2018,Africa,Capacity,Aggregate fuel,Clean,GW,1.19,0.553488,0.078079,19
323332,Zimbabwe,ZWE,2019,Africa,Capacity,Aggregate fuel,Clean,GW,1.20,0.555556,0.080146,26
323398,Zimbabwe,ZWE,2020,Africa,Capacity,Aggregate fuel,Clean,GW,1.20,0.555556,0.080146,32
323464,Zimbabwe,ZWE,2021,Africa,Capacity,Aggregate fuel,Clean,GW,1.21,0.557604,0.082194,44

In [43]:
clean_fossil.drop(['Value_%', 'Value', 'Value_%_diff'], axis=1, inplace=True)
clean_fossil.rename(columns={'Rank': 'Value'}, inplace=True)
clean_fossil['Unit'] = 'Rank'

In [44]:
clean_fossil

,Area,Country code,Year,Continent,Category,Subcategory,Variable,Unit,Value
991,Afghanistan,AFG,2015,Asia,Capacity,Aggregate fuel,Fossil,Rank,1
1057,Afghanistan,AFG,2016,Asia,Capacity,Aggregate fuel,Fossil,Rank,121
1123,Afghanistan,AFG,2017,Asia,Capacity,Aggregate fuel,Fossil,Rank,127
1189,Afghanistan,AFG,2018,Asia,Capacity,Aggregate fuel,Fossil,Rank,120
1255,Afghanistan,AFG,2019,Asia,Capacity,Aggregate fuel,Fossil,Rank,71
...,...,...,...,...,...,...,...,...,...
323200,Zimbabwe,ZWE,2017,Africa,Capacity,Aggregate fuel,Clean,Rank,88
323266,Zimbabwe,ZWE,2018,Africa,Capacity,Aggregate fuel,Clean,Rank,19
323332,Zimbabwe,ZWE,2019,Africa,Capacity,Aggregate fuel,Clean,Rank,26
323398,Zimbabwe,ZWE,2020,Africa,Capacity,Aggregate fuel,Clean,Rank,32
323464,Zimbabwe,ZWE,2021,Africa,Capacity,Aggregate fuel,Clean,Rank,44

### Capacity Growth Ranking

year_included = [2015, 2016, 2017, 2018, 2019, 2020, 2021]
rank = (source[source['Year'].isin(year_included)])

area = ['Country']
rank = (rank[rank['Area type'].isin(area)])

category_included = ['Capacity']
rank = (rank[rank['Category'].isin(category_included)])

subcategory_included = ['Aggregate fuel']
rank = (rank[rank['Subcategory'].isin(subcategory_included)])

variable_included = ['Clean','Fossil']
rank = (rank[rank['Variable'].isin(variable_included)])

rank.drop(['Area type', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'YoY absolute change', 'YoY % change'], axis=1, inplace=True)

rank = rank.sort_values(['Variable', 'Area', 'Year'], ascending=[True, True, True])

rank['Diff_%'] = (rank['Value']/rank.groupby(['Area', 'Variable'])['Value'].transform('first')-1)*100

rank['Diff_%'] = rank['Diff_%'].fillna(0)

rank.replace([np.inf, -np.inf], 0, inplace=True)

rank

rank['Rank'] = (rank.groupby(['Year','Variable'])['Diff_%']
                      .rank(method='dense', ascending=False)
                      .astype(int))

rank.drop(['Diff_%', 'Value'], axis=1, inplace=True)
rank.rename(columns={'Rank': 'Value'}, inplace=True)
rank['Unit'] = 'Rank'

rank

### Append

In [45]:
final = pd.concat([master, df_sum, share, cap_diff, clean_only, clean_fossil])

In [46]:
final

,Area,Country code,Year,Continent,Category,Subcategory,Variable,Unit,Value
990,Afghanistan,AFG,2015,Asia,Capacity,Aggregate fuel,Clean,GW,0.30
991,Afghanistan,AFG,2015,Asia,Capacity,Aggregate fuel,Fossil,GW,0.24
996,Afghanistan,AFG,2015,Asia,Capacity,Fuel,Bioenergy,GW,NaN
997,Afghanistan,AFG,2015,Asia,Capacity,Fuel,Coal,GW,NaN
998,Afghanistan,AFG,2015,Asia,Capacity,Fuel,Gas,GW,NaN
...,...,...,...,...,...,...,...,...,...
323200,Zimbabwe,ZWE,2017,Africa,Capacity,Aggregate fuel,Clean,Rank,88.00
323266,Zimbabwe,ZWE,2018,Africa,Capacity,Aggregate fuel,Clean,Rank,19.00
323332,Zimbabwe,ZWE,2019,Africa,Capacity,Aggregate fuel,Clean,Rank,26.00
323398,Zimbabwe,ZWE,2020,Africa,Capacity,Aggregate fuel,Clean,Rank,32.00
323464,Zimbabwe,ZWE,2021,Africa,Capacity,Aggregate fuel,Clean,Rank,44.00

In [47]:
final.to_excel("df_complete.xlsx", index=False)